<?xml version="1.0"?>
<launch>
  <node pkg="multi_robot_home_clean" type="NavigateActionServer" name="NavigateActionServer" ns="robot_0" respawn="false" output="screen"/>
  <node pkg="multi_robot_home_clean" type="MopActionServer" name="MopActionServer" ns="robot_0" respawn="false" output="screen"/>
  <node pkg="multi_robot_home_clean" type="VacuumActionServer" name="VacuumActionServer" ns="robot_0" respawn="false" output="screen"/>

  <node pkg="multi_robot_home_clean" type="NavigateActionServer" name="NavigateActionServer" ns="robot_1" respawn="false" output="screen"/>
  <node pkg="multi_robot_home_clean" type="VacuumActionServer" name="VacuumActionServer" ns="robot_1" respawn="false" output="screen"/>
  <node pkg="multi_robot_home_clean" type="MopActionServer" name="MopActionServer" ns="robot_1" respawn="false" output="screen" />
</launch>
